html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size:10pt;
}

#map-canvas, #map_canvas {
	float:left;
	min-width:400px;
	min-height:400px;
}

#place-listing {
	float:left;
	width:40%;
	min-height:600px;
	margin:0 10px;
	border: 3px solid #333;
	overflow:auto;
}

.place {
	border-top:1px solid #333;
	padding:5px;
}

#panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}

@media print {
	html, body {
		height: auto;
	}

	#map-canvas, #map_canvas {
		height: 650px;
	}
}
